# The Facebook User ID of the person who is allowed to run admin commands (like 'update').
# To get this ID, run the 'userinfo' command from your personal Facebook account once the bot is running.
FB_ADMIN_ID="your_facebook_user_id_here"